* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Primary-Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Primary-Bright-Cyan: hsl(192, 70%, 51%);
    --Netural-Grayish-Blue: hsl(233, 8%, 62%);
    --Neutral-Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Neutral-Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%)
  }

body {
    font-family: 'Public Sans', sans-serif;
    Font-size: 18px;
}

body.no-scroll {
     overflow-y: hidden;
}

 h2, h3, h4 {
    color: var(--Primary-Dark-Blue);
    font-weight: 300;
}

p, h6 {
    color: var(--Netural-Grayish-Blue);
}



 .request-btn {
    display: inline-block;
    width: 140px;
    height: 40px;
    color: white;
    border-radius: 99px;
    background-image: linear-gradient(to right, var(--Lime-Green), var(--Primary-Bright-Cyan));
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-size: 11px;
}

article {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.wrapper {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

main {
    position: relative;
    overflow: hidden;
}

/* style for header and nav */

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    background-color: #fff;
    z-index: -1;
}

.desktop-nav ul li {
    display: none;
}

header .request-btn {
    display: none;
}

.hamburger {
    border: none;
    outline: none;
    background-color: transparent;
}

.hamburger.unactive {
    display:none
}

.hamburger.closed {
    display: none;
}

.hamburger.closed.active {
    display: block;
}

.mobile-nav {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    padding: 30px 0 30px 0;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    background-color: #fff;
    z-index: 9;
    transition: 1s ;
}

.mobile-nav.active {
    display: block;
}

.mobile-nav a {
    text-decoration: none;
    color: var(--Primary-Dark-Blue); 
}

.mobile-nav li {
    list-style: none;
    margin-bottom: 20px;
}

@media only screen and (min-width: 700px) {
    .mobile-nav {
        display: none;
    }
    .desktop-nav ul li {
        position: relative;
        display: inline-block;
        margin-right: 10px;
    }
    .desktop-nav ul li a {
        text-decoration: none;
        color: var(--Netural-Grayish-Blue);
    }
    .hamburger {
        display: none;
    }
    header .request-btn {
        display: block;
    }
}
@media only screen and (min-width: 1024px) {
    header {
      padding-left: 100px;  
      padding-right: 100px;
    } 
    .request-btn:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    
}

/* Welcom Section */

.welcom-section {
    position: relative;
    height: 350px;
    background-color: var(--Neutral-Very-Light-Gray);
    z-index: -1;
}
.welcom-text {
    background-color: var(--Neutral-Very-Light-Gray);
}

.mockup-picture-desktop {
    display: none;
}

.desktop-intro {
    display: none;
}

.blur{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:rgba(0,0,0,0.6);
}

.blur.active {
    display: block;
}

.welcom-img {
    position: relative;
    z-index: -1;
    background-color: var(--Neutral-Very-Light-Gray);
}

.welcom-img svg {
    position: absolute;
    width: 100%;
    top: -50px;
    left: 10px;

}

.mockup-picture img {
    width: 100%;
    position: absolute;
    top: -130px;
}

.welcom-text article h2 {
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
}

.welcom-text article p {
    font-size: 13px;
    margin-top: 30px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.welcom-text article .request-btn {
    margin-bottom: 50px;
}

@media only screen and (min-width: 400px) {
    .mockup-picture img {
        top: -145px;
    }

    .welcom-img svg {
        top: -20px;
        left: 40px;
    }

    .welcom-section {
        height: 400px;
    }
}

@media only screen and (min-width: 700px) {
    .welcom {
        display: flex;
        flex-direction: row-reverse;
    }
    .welcom-section {
        width: 50%;
        z-index: -3;
    }
    .welcom-text {
        width: 50%;
        padding-top: 50px;
        padding-left: 50px;
        
    }
    .welcom-text article {
        text-align: left;
    }
    .welcom-img svg {
        display: none;
    }
    .desktop-intro {
        display: block;
        position: absolute;
        top: -150px;
        left: -40px;
    }
    .desktop-intro img {
        width: 180%;
        
    }
    .mockup-picture img {
        display: none;
    }

    .mockup-picture-desktop {
        display: block;
    }
    .mockup-picture-desktop img{
        position: absolute;
        width: 55%;
        top: -40px;
        right: -80px;
        z-index: -1;
    }
    
}

@media only screen and (min-width: 1024px) {
    .welcom-text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .welcom-text article {
        width: 70%;
    }
    .welcom-section {
        height: 500px;
    }
    .mockup-picture-desktop img {
        width: 55%;
        top: -90px;
        right: -120px;
    }
    .desktop-intro {
        top: -220px;
        left: -50px;
    }
    .desktop-nav ul li::after {
        position: absolute;
        top: 40px;
        left: 0;
        content: '';
        background-image: linear-gradient(to right, var(--Lime-Green), var(--Primary-Bright-Cyan));
        width: 100%;
        height: 3px;
        opacity: 0;
    }
    .desktop-nav ul li:hover::after {
        opacity: 1;
    }
    .desktop-nav ul li:hover a {
        color: var(--Primary-Dark-Blue);
    }
    .welcom-text article .request-btn:hover {
        opacity: 0.7;
    }
}
@media only screen and (min-width: 1200px) {
    .welcom-section {
        height: 600px;
    }
    .mockup-picture-desktop img {
        width: 50%;
    }
    .desktop-intro {
        top: -240px;
    }
}
/* section easy-bank */

.easy-bank {
    position: relative;
    background-color: var(--Neutral-Light-Grayish-Blue);
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: -2;
}
.easy-bank article {
    text-align: center;
}
.easy-bank h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.easy-bank h4{
    margin-bottom: 20px;
    font-weight: 400;
}

.easy-bank p {
    font-size: 13px;
    line-height: 2;
}

.easy-bank article:first-child p{
    margin-bottom: 50px;
}

.easy-bank-img {
    margin-top: 30px;
    margin-bottom: 30px;
} 

@media only screen and (min-width: 700px) {
    .easy-bank {
        display: flex;
        flex-wrap: wrap;
        padding-left: 50px;
        padding-right: 50px;
    }
    .easy-bank article:first-child {
        width: 100%;
        text-align: left;
    }
    .easy-bank article:first-child p {
        width: 60%;
    }
    .easy-bank article {
        width: 50%;
        text-align: left;
    }
}

@media only screen and (min-width: 1024px) {
    .easy-bank {
        padding-left: 100px;
        padding-right: 100px;
    }
    .easy-bank article {
        width: 22%;
    }
    .easy-bank article:first-child p {
        width: 40%;
    }
}
/* latest articles section */

.latest-articles {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: var(--Neutral-Very-Light-Gray);
}

.latest-articles h2 {
    margin-bottom: 30px;
    font-weight: 400;
    text-align: center;
}

.latest-articles article {
    background-color: #fff;
    margin-bottom: 30px;
    text-align: left;
}

.latest-articles h4 {
    font-weight: 400;
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.latest-articles p{
    font-size: 13px;
    line-height: 1.5;
    
}

.latest-articles .txt {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.latest-articles-img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}
@media only screen and (min-width: 700px) {
    
    .latest-articles div {
        width: 100%;
    }
    .latest-articles div h2 {
        text-align: left;
        padding-left: 50px;
    }
    .latest-articles {
        display: flex;
        flex-wrap: wrap;
    }
    .latest-articles article {
        width: 40%;
    }
}

@media only screen and (min-width: 1024px) {
    .latest-articles {
        padding-left: 100px;
        padding-right: 100px;
    }
    .latest-articles article {
        width: 20%;
    }
    .latest-articles h4:hover {
        color: var(--Lime-Green);
        cursor: pointer;
    }
}

/* Footer style */

footer {
    text-align: center;
    background-color: var(--Primary-Dark-Blue);
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-logo {
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
}

footer ul li{
    margin-bottom: 10px;
}
 
footer ul li a {
    text-decoration: none;
    color: var(--Neutral-Very-Light-Gray);
}

footer .socials svg {
    margin-left: 10px;
    margin-bottom: 20px;
}

footer .socials a{
    text-decoration: none;
}

footer .request-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

footer p{
    color: var(--Neutral-Light-Grayish-Blue);
    font-size: 12px;
}

@media only screen and (min-width: 700px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 50px 20px 50px 20px;
    }
    footer .footer-wrap {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
    footer .request-btn {
        margin-top: 0;
        background-color: #fff;
    }
    
}

@media only screen and (min-width: 1024px){
    footer {
        padding-left: 100px;
        padding-right: 100px;
    }
    footer .copy-rigth .request-btn:hover {
        background: linear-gradient(to right, hsl(136, 65%, 66%), hsl(192, 70%, 66%));
        opacity: 1;
    }
    footer .socials a:hover svg path {
        fill: var(--Lime-Green)
    }
    .footer-nav li:hover a {
        color: var(--Lime-Green);
    }
}